src/__pycache__/epdconfig.cpython-39.pyc
src/__pycache__/epd7in5_V2.cpython-39.pyc
src/__pycache__/weatherprovider.cpython-39.pyc
src/__pycache__/updateSvg.cpython-39.pyc
src/__pycache__/dataProvider.cpython-39.pyc
src/__pycache__/dataMapper.cpython-39.pyc
